<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3c97181b25.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="new.css" />
    <title>Bookers</title>
  </head>
  <body>
    <h1>Books</h1>
    
    <div class = "index-area">
      <div class = "index-head">
       <a1><strong>Title</strong></a1>
       <a1><strong>Body</strong></a1>
      </div>

    </div>
    
    <div class = "index-body">
     <% @books.each do |book| %>
     <a1><%= book.title %></a1>
     <a1><%= book.body %></a1>
     <% end %>
    </div>

    <h2>New book</h2>
     <%= form_with model: @book do |f| %>
    
    <p2>Title</p2><br>
     <%= f.text_field :title %>
     
     <div class = "body-form">
    <p2>Body</p2><br>
     <%= f.text_area :body %><br>
     </div>
     
     <div class = "submit-box">
     <%= f.submit 'Create Book' %>
     
     </div>
     <% end %>
    
    
    
  </body>
</html>