<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3c97181b25.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="application.css" />
    <title>Bookers</title>
  </head>
  <body>
    <% flash.each do |key, value| %>
    <p class="notice notice-<%= key %>">
    <%= value %>
    </p>
    <% end %>
    
    <h1>Books</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Body</th>
        </tr>
      <% @books.each do |book| %>
      <tr>
        <%#= book.content %>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><a href= "/books/<%= book.id %>">Show</a></td>
        <td><a href= "/books/<%= book.id %>/edit">Edit</a></td>
        <td><%= link_to "Destroy", book_path(book), method: :delete, data: { confirm: 'Are you sure？' } %></td>
        <%#= link_to "Destory", @book, method: :destroy, data: { confirm: "削除しますか？" } %>
        <!--<td><a href= "/books/delete/<%#= book.id %>">Destroy</a></td>-->
      </tr>
      <% end %>
    </table>
    
    <h2>New book</h2>
    <% if @book.errors.any? %>
     <div id="error_explanation" class="alert alert-danger">
      <ul>
       <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
     </div>
   <% end %>
     
     <%= form_with model: @book do |f| %>
    
    <p2>Title</p2><br>
     <%= f.text_field :title %>
     
     <div class = "body-form">
    <p2>Body</p2><br>
     <%= f.text_area :body %><br>
     </div>
     
     <div class = "submit-box">
     <%= f.submit 'Create Book' %>
     
     </div>
     <% end %>
    
    
    
  </body>
</html>